*{
    margin: 0px;
    padding: 0px;
}
.lo{
     background-color: #00a860;
}
.header{
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    padding-top:10px;
    justify-content: space-between;
}

.header h1{
    margin-left: 10px;
    margin-top: 2px;
}

.in select{
    background-color: #BF0A30;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    margin-left: -80px;


}

.header ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 15px;
}

.ino {
    position: relative;

}

.ino input{
    border-radius: 20px;
    width: 140px;
    height: 30px;
    outline: none;
    border: none;
    padding-left:90px ;
    margin-top: 15px;

}

.ino i{
    position: absolute;
    left: 10px;
    color: grey;
    top: 22px;
     
}

.icons{
    display: flex;
    gap: 1px;
    margin-right: 100px;
    margin-top: 13px;
    justify-items: center;
}

.icons i{
    font-size: 30px;
    color: white;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: none;
    
}

.hero{
    display: flex;
    gap: 10px;
    margin-top: -250px;
}

.left{
    margin-left: 50px;
  
}

.left h6{
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.left h1{
      color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
}
.hu{
       color: BF0A30;;
    font-size: 40px;
    font-weight: bold;
    margin-top: -10px;
}
.left p{
        color: white;
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
}

.left button{
    background-color: #BF0A30;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
   border: none;
   margin-bottom: 5px;
   margin-top: 5px ;
}

.right{
    margin-left: 180px;
    margin-top: -90px;
}
.offer{

text-align: center;
margin-top: 30px;

}
.offer h3{
    color: red;
}
.all{
    display: flex;
    gap: 30px;
    margin-left: 90px;
    margin-top: 20px;
    
}
.part1{
    background-color: rgb(249, 250, 249);
    width: 300px;
    height: 200px;
    padding: 5px;
    margin-left: 0px;
    text-align: center;
    
    color: black;
}
.all i{
    font-size: 30px;
    margin-top: 30px;
    color:green;
}


.all{
    margin: 30px;
    padding: 30px;
    display: flex;
    gap: 150px;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: white;
    box-shadow: 100px 10px 10px 10px gainsboro;
}

.image img{
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-top: 60px;
    border-radius: 20px;

}

.dhexe{
    margin-top: 100px;
}
.H{
    font-size: 50px;
}
.h{
    font-size: 30px;
    color: gray;
}
.img1{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 80px;
    position: absolute;
    top: 1300px;
    left: 550px;
}
.img1 img{
    width: 100px;
    height: 100px;
}
.img2{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 100px;
    position: absolute;
    top: 1480px;
    left: 750px;
}
.btn{
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
}

.footer{
    background-color: rgb(6, 6, 75);
    width: 100%;
    height: 75px;
    color: white;
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 15px;
    position: absolute;
    font-weight: bold;
}

.footer i{
    color: white;
    font-size: 30px;
    position: relative;
    left: 1000px;
    bottom: 20px;
}
